.foto{
    width: 50%;
    margin-bottom: 3%;
}

.tags-likes{
    margin-bottom: 3%;
}

.botones > *{
    float: right;
    margin: 1%;
}

p.likes{
    margin-bottom: 0;
}

.descripcion{
    margin-bottom: 3%;
}

.comentario{
    padding: 2%;
}

.nuevo-comentario{
    margin-bottom: 3%;
}

.nuevo-comentario > label{
    font-weight: bold;
}

.nuevo-comentario > input{
    width: 100%;
    margin-bottom: 2%;
}