.container.foto{
    width: 50%;
    margin-bottom: 3%;
}

.tags-likes{
    margin-bottom: 3%;
}

p.likes{
    margin-bottom: 0;
}

.descripcion{
    margin-bottom: 3%;
}

.jumbotron.comentario{
    padding: 2%;
}