{% extends "../base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'rutas_granada/css/buscar.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<div class="container titulo">
    <h2 class="font-weight-bold">Excursiones y turismo</h2>
</div>

<div class = "container jumbotron buscador">
    <form class = "buscador-formulario">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Término de búsqueda" aria-label="Término de búsqueda" aria-describedby="buscador">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Municipio</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Alcudia</a>
                <a class="dropdown-item" href="#">Esfiliana</a>
                <a class="dropdown-item" href="#">Guadix</a>
                <a class="dropdown-item" href="#">Granada</a>
                <a class="dropdown-item" href="#">Órgiva</a>
                <a class="dropdown-item" href="#">Puente Genil</a>
                <a class="dropdown-item" href="#">Turón</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Otro</a>
            </div>
            <button class="btn btn-primary pull-right" type="button">Buscar <i class="bi bi-search"></i></button>
        </div>
    </form>
</div>
    <div class="container excursiones">
        <div class="row row-cols-3">
            {% for excursión in excursiones %}
                {% include "./excursion-cards.html" %}
            {% endfor%}
        </div>
    </div>
{% endblock %}