{% extends "../base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'rutas_granada/css/buscar.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<div class="container titulo">
    <h2 class="font-weight-bold">Excursiones y turismo</h2>
</div>

<div class = "container jumbotron buscador">
    <form class = "buscador-formulario">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Término de búsqueda" aria-label="Término de búsqueda" aria-describedby="buscador">
            <select class="btn-secondary">
                <option>Municipio</option>
                <option>Alcudia</option>
                <option>Esfiliana</option>
                <option>Guadix</option>
                <option>Granada</option>
                <option>Órgiva</option>
                <option>Puente Genil</option>
                <option>Turón</option>
                <option>Otro</option>
            </select>
            <button class="btn btn-primary pull-right" type="button">Buscar <i class="bi bi-search"></i></button>
        </div>
    </form>
</div>
    <div class="container excursiones">
        <div class="row row-cols-3">
            {% for excursión in excursiones %}
                {% include "./excursion-cards.html" %}
            {% endfor%}
        </div>
    </div>
{% endblock %}