{% block content %}
	<div class="card col" id="excursion">
		{% load static %}
		{% with 'rutas_granada/images/'|add:excursión.fotos.0.foto as image_static %}
		<img src="{% static image_static %}" class="card-img-top" alt="{{ excursión.fotos.0.pie }}">
		{% endwith %}
		<div class="card-body">
			<h5 class="card-title">{{ excursión.nombre }}</h5>
			<h6 class="card-subtitle mb-2 text-muted">
				{% for tag in excursión.tags %}
					#{{tag}}
				{% endfor %}
			</h6>
			<p class="card-text">{{ excursión.descripción }}</p>
			<a href="/excursion/{{ excursión.id }}" class="btn btn-primary enlace-excursion">Más detalle</a>
		</div>
	</div>
{% endblock %}