{% extends "../base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'rutas_granada/css/buscar.css'%}">
    <link rel="stylesheet" href="{% static 'rutas_granada/css/excursion.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
{% endblock %}

{% block content %}

<div class="container jumbotron titulo">
    <h2 class="font-weight-bold">{{excursión.nombre}}</h2>
</div>

{% if user.is_staff %}
<div class="container botones">

    <button id = "borrar" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#borrarModal">
        <i class="bi bi-trash-fill"></i>
    </button>
      
    <!-- Modal -->
    <div class="modal fade" id="borrarModal" tabindex="-1" aria-labelledby="borrarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="borrarModalLabel">Borrar excursión</h5>
            </div>
            <form name="delete" method="POST" action="{% url 'borrar' excursión.id %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <p>¿Estás seguro que deseas borrar <b>{{excursión.nombre}}</b>?</p>
                </div>
                <div class="modal-footer">
                <button id = "cancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Sí</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <button id = "editar" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarModal">
        <i class="bi bi-pencil-fill"></i>
    </button>
      
    <!-- Modal Editar -->
    <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar excursión</h5>
            </div>
            <form class="nueva-excursion" method="POST" enctype="multipart/form-data" action="{% url 'editar' excursión.id %}">
                <div class="modal-body">
                    {% csrf_token %}
                        <table>
                            {{ formulario }}
                        </table>
                </div>
                <div class="modal-footer">
                <button id = "cerrar" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

{% endif %}

<div class="container foto">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for foto in excursión.fotos %}
                {% if forloop.counter == 1 %}
                    <div class="carousel-item active">
                {% elif forloop.counter >= 2 %}
                    <div class="carousel-item">
                {% endif %}
                    {% load static %}
                    {% with 'rutas_granada/images/'|add:foto.foto as image_static %}
                        <img src="{% static image_static %}" class="d-block w-100" alt="{{ foto.pie }}">
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
      </div>
</div>

<div class="container tags-likes">
    <div class="row align-items-center">
        <div class="col-10 tags">
            <h5 class="card-subtitle mb-2 text-muted">
                {% for tag in excursión.tags %}
                    #{{tag}}
                {% endfor %}
            </h5>
        </div>
        <div class="col row likes-container align-items-center">
            <button class="btn btn-primary like" type="submit">
                <i id="emoji" class="bi bi-hand-thumbs-up-fill"></i></i>
            </button>
            <div class="container col ">
                <p class="likes">{{ excursión.likes }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container descripcion">
    <h5>{{ excursión.descripción }}</h5>
</div>

<div class="container comentarios">

    <h4 class="titulo font-weight-bold">Comentarios</h4>

    {% for comentario in excursión.comentarios %}
    <div class= "container jumbotron comentario">
        <h6 class="font-weight-bold row">{{ comentario.autor }}</h6>
        <p class="row">{{ comentario.contenido }}</p>
    </div>
    {% endfor %}

    <form class="nuevo-comentario jumbotron" method="POST" action="{% url 'aniadir_comentario' excursión.id %}">
        {% csrf_token %}
        {{ comentario }}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</div>

<script>

    $(document).ready(function(){
    
        // Activate Carousel
        $("#carouselExampleControls").carousel();

        // Enable Carousel Controls
        $(".carousel-control-prev").click(function(){
            $("#carouselExampleControls").carousel("prev");
        });

        $(".carousel-control-next").click(function(){
            $("#carouselExampleControls").carousel("next");
        });

        // Modal Editar
        $("#editar").click(function(){
            $("#editarModal").modal("show");
        });

        // Modal Borrar
        $("#borrar").click(function(){
            $("#borrarModal").modal("show");
        });

        var like = false;

        // Likes
        $(".like").click(function(){
            like = !like; 

            if (like){
                $("#emoji").removeClass("bi-hand-thumbs-up-fill")
                $("#emoji").addClass("bi-hand-thumbs-down-fill")
            }

            else{
                $("#emoji").removeClass("bi-hand-thumbs-down-fill")
                $("#emoji").addClass("bi-hand-thumbs-up-fill")
            }

            ActualizarLike(like)
        })

        function ActualizarLike(like){
            $.ajax({
                url: "{% url 'like' excursión.id %}",
                data: {'like': like},
                success: function(respuesta){
                    $('.likes').html(respuesta);
                }
            })
        }
    })
</script>

{% endblock %}