{% extends "../base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'rutas_granada/css/buscar.css'%}">
    <link rel="stylesheet" href="{% static 'rutas_granada/css/excursion.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
{% endblock %}

{% block content %}

<div class="container jumbotron titulo">
    <h2 class="font-weight-bold">{{excursión.nombre}}</h2>
</div>

<div class="container botones">

    <form name="delete" method="POST" action="{% url 'excursion' excursión.id %}">
        {% csrf_token %}
        <input type="hidden" name="method" value="delete">
        <button class="btn btn-primary" type="submit"><i class="bi bi-trash-fill"></i></button>
    </form>

    <a class="btn btn-primary" href="#" role="button">
        <i class="bi bi-pencil-fill"></i>
    </a>
</div>

<div class="container foto">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for foto in excursión.fotos %}
                {% if forloop.counter == 1 %}
                    <div class="carousel-item active">
                {% elif forloop.counter >= 2 %}
                    <div class="carousel-item">
                {% endif %}
                    {% load static %}
                    {% with 'rutas_granada/images/'|add:excursión.fotos.0.foto as image_static %}
                        <img src="{% static image_static %}" class="d-block w-100" alt="{{ foto.pie }}">
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
      </div>
</div>

<div class="container tags-likes">
    <div class="row align-items-center">
        <div class="col-10 tags">
            <h5 class="card-subtitle mb-2 text-muted">
                {% for tag in excursión.tags %}
                    #{{tag}}
                {% endfor %}
            </h5>
        </div>
        <div class="col row likes align-items-center">
            <form name="delete" method="POST" action="{% url 'excursion' excursión.id %}">
                {% csrf_token %}
                <input type="hidden" name="method" value="like">
                <button class="btn btn-primary" type="submit"><i class="bi bi-hand-thumbs-up-fill"></i></i></button>
            </form>
            <div class="container col ">
                <p class="likes">{{ excursión.likes }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container descripcion">
    <h5>{{ excursión.descripción }}</h5>
</div>

<div class="container comentarios">

    <h4 class="titulo font-weight-bold">Comentarios</h4>

    {% for comentario in excursión.comentarios %}
    <div class= "container jumbotron comentario">
        <h6 class="font-weight-bold row">{{ comentario.autor }}</h6>
        <p class="row">{{ comentario.contenido }}</p>
    </div>
    {% endfor %}

    <form class="nuevo-comentario jumbotron" method="POST">
        {% csrf_token %}
        {{ comentario }}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</div>

<script>
    // Activate Carousel
$("#carouselExampleControls").carousel();

// Enable Carousel Controls
$(".carousel-control-prev").click(function(){
  $("#carouselExampleControls").carousel("prev");
});

$(".carousel-control-next").click(function(){
  $("#carouselExampleControls").carousel("next");
});
</script>

{% endblock %}