<!DOCTYPE html>
<html lang="en">
<head>
  <title>TurGranada</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'rutas_granada/css/base.css'%}">
  <link rel="stylesheet" href="{% static 'rutas_granada/css/dark-mode.css'%}">
  {% block css %}
  {% endblock %}
</head>

<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-uppercase font-weight-bold">
    <div class="container-fluid">
      <div class="collapse navbar-collapse  d-flex justify-content-center" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Destinos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Planea tu viaje</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Cosas que hacer</a>
          </li>
          <li class="nav-item active">
              {% load static %}
              <a class="nav-link" href="/"><img src="{% static 'rutas_granada/images/logo.gif'%}"></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Agenda cultural</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">Área profesional</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">Mi Granada</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="botones-modo row mx-0">
    <div class="custom-control custom-switch m-2 col">
      <input type="checkbox" class="custom-control-input position-static h-100" id="darkSwitch" />
      <label class="custom-control-label h-100" for="darkSwitch">Modo noche</label>
    </div>
    {% load static %}
    <script src="{% static 'rutas_granada/dark-mode-switch.min.js'%}"></script>
    <div class = "autorizacion text-right m-2 col">
      {% if user.is_authenticated %}
        <p class="text-success font-weight-bold">¡Bienvenido {{ user.username }}!</p>
        <a id = "logout" type="button" class="btn btn-dark" href="{% url 'logout' %}">
          Logout
        </a>
      {% else %}
        <a id = "login" type="button" class="btn btn-primary" href="{% url 'login' %}">
          Login
        </a>
        <a id = "signup" type="button" class="btn btn-success" href="{% url 'signup' %}">
          Sign Up
        </a>
      {% endif %}
    </div>
  </div>
</header>
<body>

<div class="jumbotron text-center">
  <h4 class="font-weight-bold">Turismo rural, activo y de naturaleza</h4>
</div>
  
{% block content %}
{% endblock %}
<!-- Footer -->
<footer class="bg-dark text-white">
    <!-- Section: Text -->
    <div class="container footer">
      {% load static %}
      <img src="{% static 'rutas_granada/images/diputacion.png' %}" alt="Diputación de Granada"/>

      <div class="float-right">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.turgranada.es/patronato-provincial-de-turismo/" class="text-white">Patronato Provincial de Turismo Diputación de Granada</a>
            </li>
            <li>
              Cárcel Baja, 3. 18001. Granada
            </li>
            <li>
              Tel: +34 958 24 71 46
            </li>
            <li>
              Fax: +34 958 24 71 29
            </li>
          </ul>
      </div>
    </section>
    <!-- Section: Text -->
</footer>
<!-- Footer -->
</body>
</html>

